@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f4f6;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* smooth scroll */
html { scroll-behavior: smooth; }

/* hide scrollbar on mobile chat */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #fb923c; border-radius: 4px; }
